.vision{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 40px;
    align-items: center;
}

.vision-header{
    width: auto;
    width: 70%;
    text-align: center;
    font-size: 10vw;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.vision-line{
    width:70%;
    font-family: 'Poppins', sans-serif;;
    background-color: rgb(66, 66, 66);
    color: white;
    padding: 14px 0;
    text-align: center;
}

.vision-ambassador{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vision-statement{
    width: 60%;
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Poppins';
    margin:40px 0;
}
.vision-info{
    width: 40%;
}

